<div class="container">
<header class="header">
  <div class="row">
    <ul class="header-list">
      <li class="col-xs-2 col-sm-2 col-md-2">Top</li>
      <li class="col-xs-2 col-sm-2 col-md-2"><%= link_to 'Tweet', blogs_path %></li>
      <Li class="col-xs-2 col-sm-2 col-md-2">Contact</Li>
    </ul>
  </div>
</header>
<main class="main">
  <section>
    <img class="main-img" src="/assets/letter0.5.jpg">
  </section>
  <section class="about">
    <div class="row">
      <img src="/assets/pen.png" class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-xs-2 col-sm-2 col-md-2">
      <img src="/assets/talk.png" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-2 col-sm-2 col-md-2">
      <img src="/assets/com.png" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-2 col-sm-2 col-md-2">
    </div>
    <div class="row">
      <h1 class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-xs-2 col-sm-2 col-md-2">write</h1>
      <h1 class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-2 col-sm-2 col-md-2">talk</h1>
      <h1 class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-2 col-sm-2 col-md-2">communicate</h1>
    </div>
    <div class="row">
      <p class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-xs-2 col-sm-2 col-md-2">書けます。</p>
      <p class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-2 col-sm-2 col-md-2">話せます。</p>
      <p class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-2 col-sm-2 col-md-2">繋がれます。</p>
    </div>
  </section>
</main>
<footer class="footer">
  <p>©️Shot 2017-2018</p>
</footer>
</div>
